<launch>
	<!--set the param that trajectory_execution_manager needs find for the controller plugin -->
	<arg name="moveit_controller_manager" default="moveit_simple_controller_manager/MoveItSimpleControllerManager" />
	<param name="moveit_controller_manager" value="$ (arg moveit_controller_manager)"/>

	<!--load controller_list-->
	<arg name="use_controller_manager"  default="true" /> 
	<param name="use_controller_manager" value="$ (arg use_controller_manager" />


	<!--load joint controller config from yaml file to param server-->
	<rosparam file="$(open_manipulator_moveit_config)/config/ros_controllers.yaml"/>
</launch>